h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-size: 7rem;
}

h3 {
	font-size: 3rem;
}

button {
	padding: 10px 25px;
	text-transform: uppercase;
	border-radius: 12px;
	background-color: transparent;
	font-size: 2rem;
	font-weight: bold;
	justify-self: left;
}

.btn-white {
	border: 4px white solid;
	color: white;
}

.btn-grey {
	border: 4px var(--main-grey) solid;
	color: var(--main-grey);
}

.btn-color {
	border: 4px var(--main-color) solid;
	color: var(--main-color);
}

.color {
	color: var(--main-color);
}

h2::after {
	content: '';
	display: block;
	height: 4px;
	width: 150px;
	background-color: white;
}

.title-container {
	display: inline-block;
	text-align: center;
}


#services, #about, #reviews, #why-visit {
	padding: 50px 30px;
}




// TABLET

@media screen and (max-width: 768px) {
	button {
		margin-left: auto;
		margin-right: auto;
	}
}
